:root {
  color-scheme: dark light;
}

body {
  font-family: system-ui, sans-serif;
  margin: 2em;
}

.highlight {
  background-color: Highlight;
}

.search {
  position: absolute;
  top: env(titlebar-area-y, 0);
  height: env(titlebar-area-height, 20px);
}
