:root {  
  color-scheme: dark light;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  2rem;
  color: maroon;
}

img {
  height: 100%;
  width: auto;
}

html,
body {
  overscroll-behavior: none;
}

body {
  font-family: system-ui, sans-serif;
  margin: 2em;
}

.highlight {
  background-color: Highlight;
}

.search {  
  -webkit-app-region: drag;
  app-region: drag;
  align-items: center;
  display: flex;  
  position: fixed;
  background-image: linear-gradient(90deg, #131313, 33%, maroon);  
  left: env(titlebar-area-x, 0);
  top: env(titlebar-area-y, 0);  
  width: env(titlebar-area-width, 100%);
  height: env(titlebar-area-height, 33px);  
}

.search label {
  margin-inline-start: .25rem;
  color: #eee;
}

.search input {
  -webkit-app-region: no-drag;
  app-region: no-drag;  
}